/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

/* get rid of the ugly vertical space after paragraph in LI */
.rst-content .section ul p,
.rst-content .section ol p {
    margin-bottom: 0px;
}
